<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <%_ if (features.includes('elk')) { _%>
    <springProperty defaultValue="localhost" name="logstashHost"
    scope="context" source="application.logstash-host"/>

    <appender class="net.logstash.logback.appender.LogstashTcpSocketAppender" name="stash">
        <!--<destination>localhost:5000</destination>-->
        <destination>${logstashHost}:5000</destination>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/> <!-- MDC variables on the Thread will be written as JSON fields-->
                <context/> <!--Outputs entries from logback's context -->
                <version/> <!-- Logstash json format version, the @version field in the output-->
                <logLevel/>
                <loggerName/>

                <pattern>
                    <pattern>{"app-name": "${appName}"}</pattern>
                    <pattern>{"type": "app"}</pattern>
                </pattern>

                <threadName/>
                <message/>

                <logstashMarkers/> <!-- Useful so we can add extra information for specific log lines as Markers-->
                <arguments/> <!--or through StructuredArguments-->

                <stackTrace/>
            </providers>
        </encoder>
    </appender>
    <%_ } _%>
    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
    <springProfile name="!default">
        <property name="LOG_FILE" value="logs/${appName}.log"/>
        <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
        <root level="INFO">
            <appender-ref ref="FILE" />
            <appender-ref ref="CONSOLE" />
            <%_ if (features.includes('elk')) { _%>
            <appender-ref ref="stash"/>
            <%_ } _%>   
        </root>
    </springProfile>

    <%_ if (loggingTypes.includes('performance')) { _%>
    <%_ if (features.includes('elk')) { _%>
    <appender class="net.logstash.logback.appender.LogstashTcpSocketAppender" name="PERFORMANCE_STASH">
        <destination>${logstashHost}:5000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/>
                <context/>
                <version/>
                <logLevel/>
                <loggerName/>
                <pattern>
                    <pattern>{"app-name": "${appName}"}</pattern>
                    <pattern>{"type": "performance"}</pattern>
                </pattern>
                <threadName/>
                <message/>
                <logstashMarkers/>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>
    <%_ } _%>

    <appender name="PERFORMANCE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/performance.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/performance-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date %-5level [%thread] %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="PERFORMANCE" level="INFO" additivity="false">
        <appender-ref ref="PERFORMANCE_FILE"/>
        <%_ if (features.includes('elk')) { _%>
        <appender-ref ref="PERFORMANCE_STASH"/>
        <%_ } _%>
    </logger>

    <%_ } _%>

    <%_ if (loggingTypes.includes('security')) { _%>
    <appender name="SECURITY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/security.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/security-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date %-5level [%thread] %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender class="net.logstash.logback.appender.LogstashTcpSocketAppender" name="PERFORMANCE_STASH">
        <destination>${logstashHost}:5000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/>
                <context/>
                <version/>
                <logLevel/>
                <loggerName/>
                <pattern>
                    <pattern>{"app-name": "${appName}"}</pattern>
                    <pattern>{"type": "security"}</pattern>
                </pattern>
                <threadName/>
                <message/>
                <logstashMarkers/>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <logger name="SECURITY" level="INFO" additivity="false">
        <appender-ref ref="SECURITY_FILE"/>
        <%_ if (features.includes('elk')) { _%>
        <appender-ref ref="SECURITY_STASH"/>
        <%_ } _%>
    </logger>

    <%_ } _%>

    <logger name="<%= packageName %>" level="DEBUG"/>
    <logger name="org.springframework" level="INFO"/>
    <%_ if (features.includes('localstack')) { _%>
    <logger name="com.amazonaws.util.EC2MetadataUtils" level="ERROR"/>
    <logger name="com.amazonaws.internal.InstanceMetadataServiceResourceFetcher" level="ERROR"/>
    <%_ } _%>

</configuration>
